@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&display=swap");
body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(-45deg, #EE3C7E, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  -webkit-animation: change 10s ease-in-out infinite;
          animation: change 10s ease-in-out infinite;
}

@-webkit-keyframes change {
  0% {
    background-position: 0 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes change {
  0% {
    background-position: 0 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.section-about-inf {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #131313;
  border-radius: 13px;
}

.section-about-inf .logo {
  width: 500px;
  height: 370px;
}

.section-about-inf .links-item {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 2rem;
}

.section-about-inf .read-documentation, .section-about-inf .download, .section-about-inf .sertifi {
  padding-bottom: 2rem;
  color: #131313;
}

.section-about-inf .read-documentation:hover {
  color: #ff4444;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-left: 1em;
}

.section-about-inf .download:hover {
  color: #ff4444;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-left: 1em;
}

.section-about-inf .sertifi:hover {
  color: #ff4444;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding-left: 1em;
}

@media screen and (max-width: 800px) {
  .download-inf {
    padding-left: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 200px;
    height: 170px;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  .download-inf {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15rem;
  }
}

@media screen and (max-width: 400px) {
  .download-inf {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 25rem;
  }
}

.section-card {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-card .description-card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #131313;
  width: 35%;
  margin-bottom: 1rem;
}

.section-card .id {
  color: #fff;
  background-color: #131313;
  border-radius: 10px;
  padding-left: 2px;
  font-size: 15px;
  margin-left: 10px;
}

.section-card .name {
  color: #5d0bc9;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */